
html, body {
  height:100%;
}

body {
  padding: 0;
  margin: 0;
  background:skyblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* background-repeat: no-repeat; */
}

/*--- Navigation bar ---*/
/* Sets the width and the height of the navbar */

.navbar {
  /* width: 100%;
  height:30px ; */
  padding: 15px;
  display: block;
  text-decoration: none; 
  background: #000000;
    
}

 img .note {
  display: inline-flex;
  /* float: left; */
  padding: 0;
  margin: 0;
}
/* Set the spacing between the links */
.navbar-nav ul  {
  margin: 10px;
  padding: 10px;
  }

ul li {
    list-style: none;
    display: inline-block;
    line-height: 20px;
}

ul li a {
  text-decoration: none;
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  /* padding: 0 20px; */
}

/* .nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
} */

/* .nav-link {
  margin-right: 1em !important;
  text-align: right;
  margin: 0;
  padding: 0px;
} */

 a:hover {
  /* background:blue; */
  background: #8a2be2;
  color:black;
  transition: .10s;
 
}


.navbar-collapse {
  justify-content: flex-end;

}

/*--- Index Page Backround ---*/
.container-fluid {
 margin: 40px;
margin-right: 40px;
}

.header { 
  /* flex: inherit; */
  /* background-image: url(NoteDrop.jpg); */
   background-image: url(favicon_note.png);
  background-repeat: no-repeat;
  height: 450px; /* this is for the fluid container*/
  background-size: 350px; /* for favicon*/
  /*background-size: 450px;*/ /* for NoteDrop*/
  background-position: center;
  /* position: absolute; */  /* this is for favicon */
   position: relative;  /* this is for Notedrop */
}

/*--- Index Page ---*/

.overlay {
  position: static;
  min-height: 100%;
  min-width: 70%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
}

.description {
  left: 50%;
  top: 50%;
  position: absolute;  
  transform: translate(-50%, -55%);
  text-align: center;
}

.description h1 {
  color: #8a2be2;
}

.description p {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5;
  text-align: center;
}

/* .description button {
  border: 3px solid #000;
  background: #8a2be2;
  border-radius: 0;
  color: #fff;
}

.description button:hover {
  border: 3px solid #fff;
  background: #fff;
  color: #000;
} */

a.btn {
  background: #8a2be2;
  color: #000000;
}


/*--- Footer Section ---*/

footer {
    position: fixed;
    bottom: 0px;
    padding: 20px;
    width: 100%;
    height: 80px;
    padding: 30px; 
    background-color: black;     
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;    
}

footer p {
  /* margin-bottom: 0px; */
  color: blueviolet;
}