body {
  padding: 0;
  margin: 0;
  background:skyblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-repeat: no-repeat;
}

/*--- Navigation bar ---*/
.navbar {
  background: #000000;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  overflow: auto;
  padding-left: 30px;
  margin-left: 20px;
  max-width: inherit;
 
}

.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}

.nav-link {
  margin-right: 1em !important;
  text-align: right;
  margin: 0;
  padding: 0px;
}

.nav-link:hover {
  color: #8a2be2;
}

.navbar-collapse {
  justify-content: flex-end;

}

/*--- Index Page Backround ---*/
.container-fluid {
margin: 40px;
}

.header { 
  flex: inherit;
  /* background-image: url(NoteDrop.jpg); */
  background-image: url(favicon_note.png);
  background-repeat: no-repeat;
  background-position: 65%;

}

/*--- Index Page ---*/

.overlay {
  position: static;
  min-height: 100%;
  min-width: 70%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
}

.description {
  left: 50%;
  position: absolute;
  /* top: 58%; */
  top: 45%;
  bottom: 20%;
  height: 100px;
  transform: translate(-50%, -55%);
  text-align: center;
}

.description h1 {
  color: #8a2be2;
}

.description p {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5;
  text-align: center;
}

.description button {
  border: 3px solid #000;
  background: #8a2be2;
  border-radius: 0;
  color: #fff;
}

.description button:hover {
  border: 3px solid #fff;
  background: #fff;
  color: #000;
}

a.btn {
  background: #8a2be2;
  color: #000000;
}


/*--- Footer Section ---*/

footer {
    position: fixed;
    bottom: 0px;
    padding: 20px;
    width: 100%;
    height: 80px;
    padding: 30px; 
    background-color: black;     
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;    
}

footer p {
  /* margin-bottom: 0px; */
  color: blueviolet;
}