
html, body {
  height:100%;
}

body {
  padding: 0;
  margin: 0;
  background:skyblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*--- Navigation bar ---*/
/* Sets the width and the height of the navbar */
/* This padding and margin of 0 allows the image to be left aligned */

.navbar {
  /* float: none; */
  height: auto;
  padding: 15px;
  /* overflow: auto; */
  display: block;
  text-decoration: none; 

  background: #000000;
}

/* .container-body {
  margin-left: 0;
  margin-right: 15px;
  padding-left: 0;
  padding-right: 15px;
} */

/************************************************/
/*  Sets the Favicon logo and the text  */
#logo {
  vertical-align:middle;
}

.navbar-brand span {
  float: none;
	font-size:18px;
	line-height:20px;
	font-weight: 200;
  display:inline-block;
  vertical-align:middle;
  padding:0 0 0 15px;
}
.navbar-brand {
  font-size:50%;
  line-height:1;
}
 
.navbar-nav {
  margin-left:auto;
 
}
/****************************/

/* Set the spacing between the links */
.navbar-nav ul  {
  margin: 0;
  padding: 10px;
  }

ul li {
    list-style: none;
    display: inline-block;
    line-height: 0px;
}

ul li a {
  text-decoration: none;
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  /* padding: 0 20px; */
}

/* As you hover each search link, it changes color */
 .nav-item a:hover {
  background: #8a2be2;
  color:black;
  transition: .10s;
 }

.navbar-collapse {
  justify-content: right;
  /* justify-content: flex-end; */

} 
/*--- Index Page Backround ---*/
.container-fluid {
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
}

.header { 
  background-image: url(favicon_note.png); 
  background-repeat: no-repeat;
  height: 450px; /* this is for the fluid container*/
  background-size: 350px; /* for favicon*/
  background-position: center;
  position: relative; 
  background-color: #037ffc; 
}

/*--- Index Page ---*/

.overlay {
  position: static;
  min-height: 100%;
  min-width: 70%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
}

.description {
  left: 50%;
  top: 50%;
  position: absolute;  
  transform: translate(-50%, -55%);
  text-align: center;
}

.description h1 {
  color: #8a2be2;
}

.description p {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5;
  text-align: center;
}

a.btn {
  background: #8a2be2;
  color: #000000;
}


/*--- Footer Section ---*/
/* Fix the footer to the bottom of the page as you scroll down or up */
footer {
    position: fixed;
    bottom: 0;
    padding: 0;
    width: 100%;
    height: 45px;
    margin-top: 0; 
    background-color:lightgreen;     
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;    
}

footer p {
    color: blueviolet;
}